In [24]:
!pip install plotly

Requirement already satisfied: plotly in /home/cuai5th/anaconda3/envs/chanho/lib/python3.6/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/cuai5th/anaconda3/envs/chanho/lib/python3.6/site-packages (from plotly) (8.0.1)

In [4]:
import numpy as np
import pandas as pd

# 필요한 Surprise 알고리즘 불러오기
from surprise import SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBasic, KNNBaseline, KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV

# DATA LOAD

In [5]:
ratings=pd.read_csv("rating_complete.csv")

In [6]:
#ratings.to_csv("ratings_processed.csv", index=False, header=False)

In [7]:
#ratings=pd.read_csv("ratings_processed.csv")

In [8]:
anime=pd.read_csv("anime_full.csv")

In [9]:
ratings.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

# DATA  PREPROCESSING

In [21]:
ratings.groupby('user_id')['rating'].count().reset_index().sort_values('rating',ascending=False)

        user_id  rating
165818   189037   15455
142622   162615   14864
59682     68042   13462
249092   283786   12778
227994   259790    9996
...         ...     ...
176586   201316       1
176574   201300       1
85501     97555       1
176568   201293       1
120527   137466       1

[310059 rows x 2 columns]

In [22]:
ratings.groupby('anime_id')['rating'].count().reset_index().sort_values('rating',ascending=False)

       anime_id  rating
1390       1535  182375
7437      16498  169794
6603      11757  161192
4629       6547  141127
10420     30276  138924
...         ...     ...
12799     35153       1
16559     42465       1
16643     42757       1
15509     39627       1
15920     40471       1

[16872 rows x 2 columns]

In [10]:
min_anime_ratings = 5
filter_animes = ratings['anime_id'].value_counts() >= min_anime_ratings
filter_animes = filter_animes[filter_animes].index.tolist()

ratings_new = ratings[ratings['anime_id'].isin(filter_animes)]
print('The original data frame shape:\t{}'.format(ratings.shape))
print('The new data frame shape:\t{}'.format(ratings_new.shape))

The original data frame shape:	(57633278, 3)
The new data frame shape:	(57632002, 3)

In [11]:
min_user_ratings = 5
filter_users = ratings_new['user_id'].value_counts() >= min_user_ratings
filter_users = filter_users[filter_users].index.tolist()

ratings_new2 = ratings_new[ratings_new['user_id'].isin(filter_users)]
print('The original data frame shape:\t{}'.format(ratings_new.shape))
print('The new data frame shape:\t{}'.format(ratings_new2.shape))

The original data frame shape:	(57632002, 3)
The new data frame shape:	(57596151, 3)

In [25]:
ratings_new2.groupby('user_id')['rating'].count().reset_index().sort_values('rating',ascending=False)

        user_id  rating
157179   189037   15193
135171   162615   14607
56584     68042   13408
236116   283786   12722
216098   259790    9989
...         ...     ...
75643     91058       5
191194   229874       5
75760     91186       5
75845     91288       5
193845   233047       5

[293842 rows x 2 columns]

In [26]:
ratings_new2.groupby('anime_id')['rating'].count().reset_index().sort_values('rating',ascending=False)

       anime_id  rating
1389       1535  181300
7435      16498  169112
6602      11757  160623
4628       6547  140823
10364     30276  138678
...         ...     ...
15115     39455       5
9730      28485       5
8155      19907       5
9491      26321       5
8976      23727       5

[16424 rows x 2 columns]

In [27]:
print('(기존 애니메이션 편수: ',len(set(ratings['anime_id'])),')', ' - ', '(필터링 하고 애니메이션 편수: ',len(set(ratings_new2['anime_id'])),')', ' = ',len(set(ratings['anime_id'])) - len(set(ratings_new2['anime_id'])))

(기존 애니메이션 편수:  16872 )  -  (필터링 하고 애니메이션 편수:  16424 )  =  448

In [28]:
print('(기존 사용자 수: ',len(set(ratings['user_id'])),')', ' - ', '(필터링 하고 난 사용자 수: ',len(set(ratings_new2['user_id'])),')', ' = ',len(set(ratings['user_id'])) - len(set(ratings_new2['user_id'])))

(기존 사용자 수:  310059 )  -  (필터링 하고 난 사용자 수:  293842 )  =  16217

In [32]:
len(ratings_new2)

57596151

In [26]:
ratings_new2.reset_index(drop=True, inplace=True)
ratings_new2

          user_id  anime_id  rating
0               0       430       9
1               0      1004       5
2               0      3010       7
3               0       570       7
4               0      2762       9
...           ...       ...     ...
57596146   353404       502       8
57596147   353404       987       4
57596148   353404       225       8
57596149   353404       243       7
57596150   353404       896       7

[57596151 rows x 3 columns]

In [27]:
range(len(ratings_new2))

range(0, 57596151)

In [ ]:
for a in range(0, 10000000):
    if ratings_new2["anime_id"][a] not in list(anime["MAL_ID"][:]):
        ratings_new2.drop(index=a)

In [ ]:
ratings_new2.to_csv("ratings_new2.csv", index=False, header=False)

In [ ]:
for a in range(10000000, 20000000):
    if ratings_new2["anime_id"][a] not in list(anime["MAL_ID"][:]):
        ratings_new2.drop(index=a)

In [ ]:
ratings_new2.to_csv("ratings_new2.csv", index=False, header=False)

In [ ]:
for a in range(20000000, 30000000):
    if ratings_new2["anime_id"][a] not in list(anime["MAL_ID"][:]):
        ratings_new2.drop(index=a)

In [ ]:
ratings_new2.to_csv("ratings_new2.csv", index=False, header=False)

In [ ]:
for a in range(30000000, 40000000):
    if ratings_new2["anime_id"][a] not in list(anime["MAL_ID"][:]):
        ratings_new2.drop(index=a)

In [ ]:
ratings_new2.to_csv("ratings_new2.csv", index=False, header=False)

In [ ]:
for a in range(40000000, 57596151):
    if ratings_new2["anime_id"][a] not in list(anime["MAL_ID"][:]):
        ratings_new2.drop(index=a)

In [ ]:
len(ratings_new2)

In [ ]:
ratings_new2.to_csv("ratings_new2.csv", index=False, header=False)

In [31]:
#reader = Reader(line_format= 'user item rating', sep=',', rating_scale=(0, 10))
#data = Dataset.load_from_file('ratings_new2.csv', reader=reader)

In [ ]:
for a in range(len(ratings_new2)):
    if ratings_new2["anime_id"][a] not in list(anime["MAL_ID"][:]):
        ratings_new2.drop(index=a)

# DATA VIZ

In [17]:
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go

# py파일로 실행할 경우 노트북에서 실행시키기 위한 함수.
# init_notebook_mode(connected=True)




# 데이터프레임에서 한 컬럼만 뽑아낸 시리즈를 종류별로 카운트하고, 인덱스에 따라 내림차순 정렬
data = ratings['rating'].value_counts().sort_index(ascending=False)


# x에는 index로 평점 1~5를 나타내고, y는 평점 당 카운트 값이다.
trace = go.Bar(x = data.index,
               text = ['{:.1f} %'.format(val) for val in (data.values / ratings.shape[0] * 100)],
               textposition = 'auto',
               textfont = dict(color = '#000000'),
               y = data.values,
               )
               
               
# 레이아웃 생성하기.
layout = dict(title = 'Distribution Of {} anime-ratings'.format(ratings.shape[0]),
              xaxis = dict(title = 'Rating'),
              yaxis = dict(title = 'Count'))
# 그래프 생성하기
fig = go.Figure(data=[trace], layout=layout)
plot(fig)

'temp-plot.html'

In [18]:
# 영화 한 편당 평점 개수. groupby 함수로 카운팅한다.
data = ratings.groupby('anime_id')['rating'].count().clip(upper=100)

# trace 생성하기.
trace = go.Histogram(x = data.values,
                     name = 'Ratings',
                     xbins = dict(start = 0,
                                  end = 50,
                                  size = 2))
# 레이아웃 생성하기
layout = go.Layout(title = 'Distribution Of Number of Ratings Per anime (Clipped at 100)',
                   xaxis = dict(title = 'Number of Ratings Per anime'),
                   yaxis = dict(title = 'Count'),
                   bargap = 0.2)

# 그래프 생성하기.
fig = go.Figure(data=[trace], layout=layout)
plot(fig)

'temp-plot.html'

In [19]:
ratings.groupby('anime_id')['rating'].count().reset_index().sort_values('rating', ascending=False)[:10]

       anime_id  rating
1390       1535  182375
7437      16498  169794
6603      11757  161192
4629       6547  141127
10420     30276  138924
1428       1575  137291
3559       4224  135524
3965       5114  134197
8135      19815  129009
8631      22319  128822

In [20]:
# 사용자별 평점 개수
data = ratings.groupby('user_id')['rating'].count().clip(upper=50)

# trace 생성하기.
trace = go.Histogram(x = data.values,
                     name = 'Ratings',
                     xbins = dict(start = 0,
                                  end = 50,
                                  size = 2))
# 레이아웃 생성하기.
layout = go.Layout(title = 'Distribution Of Number of Ratings Per User (Clipped at 50)',
                   xaxis = dict(title = 'Ratings Per User'),
                   yaxis = dict(title = 'Count'),
                   bargap = 0.2)

# Create plot
fig = go.Figure(data=[trace], layout=layout)
plot(fig)

'temp-plot.html'

# Cross Validate

In [27]:
algo = SVD(random_state=42)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.1066  1.1063  1.1071  1.1056  1.1064  1.1064  0.0005
MAE (testset)     0.8171  0.8172  0.8171  0.8165  0.8168  0.8169  0.0003
Fit time          2957.50 3047.90 3065.54 3047.11 3035.56 3030.72 37.84
Test time         351.81  273.59  360.79  226.93  305.69  303.76  49.76

{'test_rmse': array([1.10664625, 1.10631312, 1.10709508, 1.10561986, 1.10640092]),
 'test_mae': array([0.81713544, 0.81721804, 0.81707907, 0.81647816, 0.81682769]),
 'fit_time': (2957.503125667572,
  3047.903012752533,
  3065.5402081012726,
  3047.1061832904816,
  3035.563323736191),
 'test_time': (351.8133428096771,
  273.5874183177948,
  360.7888648509979,
  226.92814803123474,
  305.6927819252014)}

In [ ]:
benchmark = []
# 모든 알고리즘을 literate화 시켜서 반복문을 실행시킨다.
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    
    # 교차검증을 수행하는 단계.
    results = cross_validate(algorithm, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
    
    # 결과 저장과 알고리즘 이름 추가.
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

# Grid Search
* **algo_class**: 알고리즘 이름
* **param_grid**: 파라미터 조합을 딕셔너리 형태로 표시
* **measures**: 비교할 측정지표 (rmse, mae)
* **cv**: cross-validation sample 개수
* **refit**: True이면 best parameter를 전체 데이터에 적용한 측정지표(measures의 첫번째 지표)를 계산
* **return_train_measures**: True이면 train set에 대한 측정지표를 계산
* **n_jobs**: parallel training을 진행할 maximum job의 수(-1: 모든 CPU 사용, 1: parallel이 없음.)
* **pre_dispatch**: 메모리 full을 막기 위해 미리 dispatch할 parallel job의 수를 조정(default = 2 * n_jobs)
* **joblob_verbose**: message를 표시하는 정도

## KNN 기반 알고리즘(아이템 기반 최근점 이웃 CF)의 파라미터
* **k**: 이웃의 크기
* **name**: 사용할 유사도의 종류를 나타내는 문자열. 디폴트는 'MSD'.
    * 평균제곱차이 유사도 (Mean Squared Difference Similarity)
    * 코사인 유사도 (Cosine Similarity)
    * 피어슨 유사도 (Pearson Similarity)
    * 피어슨-베이스라인 유사도 (Pearson-Baseline Similarity)
* **user_based**: True면 사용자 기반, False면 상품 기반.

## SVD 기반 알고리즘(행렬 분해를 이용한 잠재요인 CF)의 파라미터
* **n_epochs**: SGD의 반복 횟수 지정
* **n_factors**: SVD의 잠재 요인 K의 크기 지정
* **lr_all**: 학습률
* **reg_all**: 규제 텀 계수

In [ ]:
###### 최적화할 파라미터들을 딕셔너리 형태로 지정.
param_grid = {'n_epochs': [20, 40, 60], 'n_factors': [50, 100, 200] }
 
# CV를 3개 폴드 세트로 지정, 성능 평가는 rmse, mse 로 수행 하도록 GridSearchCV 구성
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5, n_jobs=-1)
gs.fit(data)
 
# 최고 RMSE Evaluation 점수와 그때의 하이퍼 파라미터
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

# RecSys 구현

In [ ]:
trainset = data.build_full_trainset() # 전체 데이터를 학습데이터로 생성함.

algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)

anime = pd.read_csv('anime_full.csv')
 
# userId=9 의 movieId 데이터 추출하여 movieId=42 데이터가 있는지 확인.
animeids = ratings[ratings['user_id']==9]['anime_id']
if animeIds[animeids==42].count() == 0:
    print('사용자 아이디 9는 애니메이션 아이디 42의 평점 없음')
 
print(anime[anime['MAL_ID']==42])

In [ ]:
# 개별 사용자의 아이템에 대한 추천 평점 예측
uid = str(9)
iid = str(42)
 
pred = algo.predict(uid, iid, verbose=True) 
pred                                        
# uid: 사용자 아이디, iid: 아이템 아이디, r_ui: 실제 평점, est: 예측 평점

In [ ]:
def get_unseen_animelist(user_id):
    
    #입력값으로 들어온 userId에 해당하는 사용자가 평점을 매긴 모든 애니메이션을 리스트로 생성
    seen_animes = ratings[ratings['user_id']== user_id]['anime_id'].tolist()
     
    # 모든 애니메이션들의 MAL_ID를 리스트로 생성.
    total_animes = anime['MAL_ID'].tolist()
     
    # 모든 애니메이션들의 MAL_ID 중 이미 평점을 매긴 애니메이션의 MAL_ID를 제외하여 리스트로 생성
    unseen_animes= [anime for anime in total_animes if anime not in seen_animes]
    print('평점 매긴 애니메이션 수:',len(seen_animes), '추천 대상 애니메이션 수:',len(unseen_animes), \
          '전체 애니메이션 수:',len(total_animes))
     
    return unseen_animes
 
unseen_animes = get_unseen_animelist(9)

In [ ]:
def recomm_anime_by_surprise(algo, user_id, unseen_animes, top_n=10):
    # 알고리즘 객체의 predict() 메서드를 평점이 없는 애니메이션에 반복 수행한 후 결과를 list 객체로 저장
    predictions = [algo.predict(str(user_id), str(anime_id) for anime_id in unseen_animes]
     
    # predictions list 객체는 surprise의 Predictions 객체를 원소로 가지고 있음.
    # [Prediction(uid='9', iid='1', est=3.69), Prediction(uid='9', iid='2', est=2.98),,,,]
    # 이를 est 값으로 정렬하기 위해서 아래의 sortkey_est 함수를 정의함.
    # sortkey_est 함수는 list 객체의 sort() 함수의 키 값으로 사용되어 정렬 수행.
    def sortkey_est(pred):
        return pred.est
     
    # sortkey_est( ) 반환값의 내림 차순으로 정렬 수행하고 top_n개의 최상위 값 추출.
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions= predictions[:top_n]
     
    # top_n으로 추출된 애니메이션의 정보 추출. 애니메이션 아이디, 추천 예상 평점, 제목 추출
    top_anime_ids = [ int(pred.iid) for pred in top_predictions]
    top_anime_rating = [pred.est for pred in top_predictions]
    top_anime_names = anime[anime.MAL_ID.isin(top_anime_ids)]['title']
    top_anime_preds = [ (id, title, rating) for id, title, rating in zip(top_anime_ids, top_anime_names, top_anime_rating)]
     
    return top_anime_preds
 
unseen_animes = get_unseen_animelist(9)
top_anime_preds = recomm_anime_by_surprise(algo, 9, unseen_animes, top_n=10)
print('##### Top-10 추천 애니메이션 리스트 #####')
 
for top_anime in top_anime_preds:
    print(top_anime[1], ":", top_anime[2])